// Variables Home page
// ===================
$screen-sm-870: 870px;

.page-home {

  header{
    margin-bottom: 6%;
    padding: 0 15px;
    transition: all .2s;

    @media (max-width: $screen-lg) {
   //   background: #eef2f4;
    }
  }

  .navbar-header {
    .navbar-toggle{
      display: block;
      margin-top: 30px;
      width: 30px;
      height: 30px;
      border: none;

      background: url("../images/menu.svg") left top no-repeat;
      float: right;

      @media (min-width: $screen-lg) {
        display: none;
        visibility: hidden;
      }
    }
  }

  .header-logo{
    //float: left;
    padding: 15px 0;

    @media (max-width: $screen-lg) {
      height: 55px;
      padding: 5px 0 5px;
    }

    a{
      display: inline-block;
      @media (max-width: $screen-lg) {
        width: 150px;
      }
    }

    img{
      width: 200px;
      transition: all .2s;
      @media (max-width: $screen-lg) {
        width: inherit;
      //  height: 35px;
      }
    }
  }


//  Main links
  .header-menu{
    margin-top: -35px;
    @media (max-width: $screen-lg) {
      margin-top: 0;
    }
    @media (min-width: $screen-lg) {
      display: block!important;
      height: auto!important;
      padding-bottom: 0;
      overflow: visible!important;
      visibility: visible!important;
    }

    ul{margin-bottom: 0; }
    li{
      padding: 0 1.3%;
      float: right;

            @media (max-width: $screen-lg) {
              float: inherit;
              padding: 10px;
            }

      &.act{
        a{color: #7e8496}
      }
    }
    a{
      display: inline-block;
      font-weight: 800;
      text-transform: uppercase;

      @media (max-width: $screen-lg) {
        display: block;
      }
    }
    .menu-list{
      margin-right: 95px;
    }
    .languages-list{
      li{
        padding: 0 0.6%;
      }
    }
  }

// Section content
  .section-name-site{
    text-align: center;
    margin-bottom: 20px;
    h1,
    h3{
      font-weight: 800;
      text-transform: uppercase;
    }

    h1{
      font-size: -em(120,14);
      line-height: 120px;
      transition: all .2s;
//      color: #58595B;
//      text-transform: none;
//        span{color: #48b749}

      @media (max-width: 1180px) {
        font-size: -em(100,14);
        line-height: 100px;
      }

      @media (max-width: $screen-sm-870) {
        font-size: -em(80,14);
        line-height: 70px;
      }
      @media (max-width: 580px) {
        font-size: -em(60,14);
        line-height: 40px;
      }
      @media (max-width: $screen-xs) {
        font-size: -em(44,14);
        line-height: 20px;
      }
    }
    h3{
      font-size: -em(70,14);
      line-height: 100px;
      transition: all .2s;

      @media (max-width: 1180px) {
        font-size: -em(50,14);
        line-height: 80px;
      }
      @media (max-width: $screen-sm-870) {
        font-size: -em(30,14);
        line-height: 80px;
      }
      @media (max-width: 580px) {
        font-size: -em(25,14);
        line-height: 50px;
      }
      @media (max-width: $screen-xs) {
        font-size: -em(12,14);
        line-height: 30px;
      }
    }
  }

  .section-form-email{
    text-align: center;
    margin-bottom: 63px;
    .input-text{
      background: none;
      border: 2px solid $text-color;
      border-radius: 40px;
      height: 79px;
      font-size: -em(26,14);
      //text-transform: uppercase;
      transition: all .5s;
      padding: 0 0 0 39px;
      opacity: 0;
      width: 0;
      margin-right: -60px;

      @media (max-width: $screen-sm-870) {
        width: 100% !important;
        height: 50px;
        border-radius: 40px;
        padding: 0 41px 0 17px !important;
        font-size: -em(14,14);
        margin-bottom: 10px;
        margin-right: 0;
        opacity: 1;
      }
      @media (max-width: $screen-xs) {
        width: 100%;
        height: 50px;
        border-radius: 40px;
        padding: 0 41px 0 17px !important;
        font-size: -em(14,14);
        margin-bottom: 10px;
      }

        @include placeholder {
          color: #9599a3;
          font-weight:600;
          text-transform: uppercase;
          @media (max-width: $screen-sm-870) {
            text-align: center;
          }
        }
       &:focus {outline:none;}
    }
    button{
      position: relative;
      top: 1px;
      width: 342px;
      height: 80px;
      border: none;
      color: #fff;
      font-size: -em(30,14);
      font-weight: 800;
      text-transform: uppercase;
      margin-left: 0;
      @include border-radius(40px);
      background: #2eaf33;
      transition: all .5s;
      outline: none;

        &:focus{outline: none}
        &:hover{
          background: #289c2d;
        }

      @media (max-width: $screen-sm-870) {
        margin-left: 0 !important;
      }
      @media (max-width: $screen-xs) {
        width: 100%;
        height: 50px;
        font-size: -em(20,14);
        margin-left: 0;
      }

    }


    .text-help{
      margin-top: 15px;
      color: #acb0b8;
      font-size: -em(20,14);
      opacity: 0;
      transform: translate(0, 10px);
      transition: all .5s;

        @media (max-width: $screen-xs) {
          font-size: -em(14,14);
        }
        @media (max-width: $screen-sm-870) {
          opacity: 1 !important;
        }
    }

    //  .section-form-emai:hover
    &.open{
      .input-text{
        padding: 0 82px 0 35px;
        width: 433px;
        opacity: 1;
        margin-right: 0;

      }
      button{
        margin-left: -80px;
      }
      .text-help{
          opacity: 1;
          transform: translate(0, 0);
      }
    }

  }
  .section-ipad{
    width: 100%;
      img{
        max-width: 100%;
        height: auto;
      }
  }
// Section Services box

  .section-services-box-shadow{
    position: relative;

    .box-shadow-l{
      border-radius: 4px;
      background-color: rgba(241, 245, 247, 0);
      box-shadow: 0 25.981px 40px 0 rgba(31, 35, 39, 0.2);
      position: absolute;
      margin: 0 1%;
      top: 0;
      width: 98%;
      height: 100%;
      z-index: 1;
    }
  }
  .section-services-box{
    background: #f1f5f7;
    padding: 7% 7% 16%;
    margin-bottom: 8%;
    margin-top: 0;
    position: relative;
    border-radius: 4px;
    z-index: 2;
    @media (max-width: $screen-sm ){
      text-align: center;
      margin-bottom: 65px;
    }

      h4{
        font-size: 26px;
        @media (max-width: $screen-sm) {
          font-size: 20px;
        }
      }
      .services-h4-top{
        margin-bottom: 5.8%;
      }

    .sections-services-icon-list{
      margin-bottom: 10%;
      ul{@include list-unstyled();}
      li{
        float: left;
        text-align: center;
        @media (max-width: $screen-sm) {
          float: inherit;
          margin-bottom: 30px;
        }
      }
        .icon-wrapper{
          height: 82px;
          width: 110px;
          margin: 0 auto 25px;

          @media (max-width: $screen-sm) {
            margin: 0 auto 10px;
          }
        }
        .name-icon{
          font-size: 18px;
          font-weight: 800;
          text-transform: uppercase;

          @media (max-width: $screen-xs) {
            font-size: 16px;
          }
        }
    }

    .services-h4-video{
      margin-bottom: 2.5%;
    }
    .video-cover{
      position: relative;
      &:before{
        position: absolute;
        width: 70px;
        height: 70px;
        left: 50%;
        top: 50%;
        margin-left: -35px;
        margin-top: -35px;
        content: '';
        background: url("../images/icon-play.png");
      }
      img{
        max-width: 100%;
        height: auto;
      }
    }
  }

// Section about
  .box-about{
    &{
      position: relative;
      overflow: hidden;
      border: 3px solid transparent;
      cursor: pointer;
      margin-bottom: 95px;

      @media (max-width: $screen-sm) {
        margin-bottom: 20px;
      }
    }
    .box-about-img{
      &:before{
        background: rgba(80, 87, 112, 0.80);
        position: absolute;
        width: 100%;
        height: 100%;
        content: '';
        transition: all .1s;
      }
      img{
        width: 100%;
      }
    }
    .box-about-title{
      position: absolute;
      z-index: 2;
      width: 100%;
      height: 100%;
      font-size: 30px;
      font-weight: 800;
      text-transform: uppercase;
      text-align: center;
      color: #fff;
      display: table-cell;
      vertical-align: middle;
      transition: all .1s;
        span{
          position: absolute;
          width: 100%;
          left: 0;
          top: 50%;
          -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%)
        }
      @media (max-width: $screen-lg) {
        font-size: 20px;
      }
      @media (max-width: $screen-sm-max) {
        font-size: 30px;
      }
    }

    // hover
      &:hover{
        border: 3px solid #2eaf33;
        .box-about-img:before{
          background: rgba(111,116,134, 0);
        }

        .box-about-title {
          color: #2eaf33;
        }
      }
  }

// Footer
  .footer{
    padding: 80px 0;
    background: #24252c;
    color: #e7ecee;
    text-align: center;
    font-weight: 800;
    line-height: 20px;


      @media (max-width: $screen-xs) {
        margin-top: 30px;
       padding: 40px 0;
      }
    .copyright{
      color: #74767e;
      margin-top: 15px;
    }

    a{
      color: #0084ff;
      text-decoration: none;
    }
  }
  .corporation{
     text-transform: uppercase;
    margin-bottom: 25px;

  }
  .footer-socila-list{
    @include list-unstyled();
    margin-bottom: 40px;
    @media (max-width: $screen-xs) {
      margin-bottom: 30px;
    }
    li{
      margin: 0 1%;
      @media (max-width: $screen-xs) {
        margin: 0;
      }
    }
    a{
      width: 50px;
      height: 50px;
      display: inline-block;
      background: url("../images/sprite-social-icons.png") left top no-repeat;
      transition: all .2s;

        &.x{
          background-position: 0 0;
        }
        &.in{
          background-position: -50px 0;
        }
        &.gplus{
          background-position: -100px 0;
        }
        &.f{
          background-position: -150px 0;
        }
        &.t{
          background-position: -200px 0;
        }
      &:hover{
        opacity: 0.5;
      }
    }
  }
}
